<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дашборд</title>
</head>
<body>
{% block content %}
<h1>{{ title }}</h1>

<nav style="margin-bottom: 20px;">
  <ul style="list-style: none; padding: 0;">
    <li><a href="{% url 'promo_list'  %}">🍀 Промокоды</a> </li>
    <li><a href="{% url 'product_reviews' %}">👎 Отзывы</a> </li>
    <li><a href="{% url 'product_list' %}">📦 Список продуктов</a></li>
    <li><a href="{% url 'make_order' %}">🛒 Оформить заказ</a></li>
    <li><a href="{% url 'most_popular_products' %}">🔥 Популярные продукты</a></li>
    <li><a href="{% url 'unpopular_products' %}">🧊 Непопулярные продукты</a></li>
    <li><a href="{% url 'price_list' %}">💰 Прайс-лист</a></li>
    <li><a href="{% url 'monthly_sales' %}">📈 Продажи по категориям (месяц)</a></li>
    <li><a href="{% url 'yearly_revenue' %}">💼 Годовой доход</a></li>
    <li><a href="{% url 'client_sales' %}">👤 Продажи клиентов</a></li>
    <li><a href="{% url 'customers_by_city' %}">🏙️ Покупатели по городам</a></li>
  </ul>
</nav>

<div style="margin-top: 20px;">
  {% if user.is_authenticated %}
    <p>Вы вошли как {{ user.email }} — <a href="{% url 'logout' %}">Выйти</a></p>
  {% else %}
    <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a>
  {% endif %}
</div>

<hr>
{% if user.is_authenticated %}
  <h2>Ваши заказы:</h2>
  {% if orders %}
    <table border="6">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Дата заказа</th>
          <th>Дата доставки</th>
          <th>Товары</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.delivery_date }}</td>
            <td>
              <ul>
                {% for item in order.orderitem_set.all %}
                  <li>{{ item.product.name }} — {{ item.quantity }} шт.</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Нет заказов.</p>
  {% endif %}
{% else %}
  <p>Чтобы увидеть историю заказов, пожалуйста, <a href="{% url 'login' %}">войдите</a> в систему.</p>
{% endif %}

{% endblock %}
</body>
</html>