<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h2>Мебель, не пользующаяся спросом</h2>

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Модель</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.model }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Все товары были заказаны</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

</body>
</html>